body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:dimgray;
    width: 100vh;
    height: 100vh;
}


.calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 330px;
    height: 497px;
    border-radius: 5px;
    background-color: black;
    
    
    
}
.head{
    width: 330px;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    
}
.bottom {
    width: 330px;
    height: 410px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: center;
    background-color: black;
    border-radius: 5px;
    

}
.display1{
    background-color: blanchedalmond;
    color: black;
    border: solid;
    border-width: 3px;
    border-radius: 5px;
    height: 75px;
    width: 318px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
}
.topscreen{
    padding: 5px;
    flex:1;
}
.screen{
    padding: 5px;
    flex :1;
    justify-content: center;
    font-size: xx-large;
}
button{
    width: 75px;
    height: 75px;
    margin: 3px;
    font-size: larger;
    border-color: deeppink;
}
#zero {
    width: 156px;
}
#zero,

#one,#two,#three,#comma,
#four,#five,#six,
#seven,#eight,#nine{
    background-color:rgb(38, 129, 145);
    
    

}
#equal,#plus,#minus,
#multiply,#divide{
    background-color: rgb(11, 124, 62);
}

#clear,#sign,#errase{
    background-color:hotpink
}




